body{
    background-color:#C8A2C8;
    border:0 auto;
  }
  #title,#description{
    text-align:center;
    
  }
  form{
    background-color:purple;
    border: 2px solid purple;
    max-width:500px;
    min-width:300px;
    width:60vw;
    margin: 0 auto ;
  }
  fieldset{
    border:0;
  }
  label{
    display:block;
    margin:0.5rem 0;
    
  }
  input,textarea,select{
    width:100%;
    
  }
  .inline, input[type="checkbox"]{
    width:unset;
  }
  input[type="submit"]{
    min-width:300px;
    width:60%;
  }